
body {
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 90px;
}

section > .slogun {
    text-align: center;
    text-shadow: 1px 0 1px;
    font-size: 13px;
    margin-bottom: 30px;
}

.cong > img {
  margin-top: 20px;
  margin-right: 10px;
  width: 164px;
  height: 190px;
  float: right;
}
section > .main {
    width: 210px;
    height: 222px;
    font-size: 10px;
    line-height: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    float: left;
}

section > .main .wn {
    text-align: center;
}

#icon {
    background: #fff;
    display: inline-block;
    width: 400px;
    height: 100px;
    /* outline: 1px solid blue; */
    padding-top: 30px;
}

section > ul li {
    
    display: inline-block;
    list-style-type: none;
    width: 22%;
    font-size: 12px;
    /* outline: 1px solid red; */
    text-align: center;
}


.end {
    font-size: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 131px;
    color: darkgoldenrod;
}